{% extends "bootstrap_include.html" %}

{% block content %}

<div class="container-fluid">
  <center><h1>Project Resource Management System For Cloud</h1></center>
  


<div class="jumbotron text-center">
<div class="row">
    <div class="col-sm-4" style="background-color:lavender;"><center><h1>Cloud</h1></center></div>
    <div class="col-sm-4" style="background-color:lavenderblush;"><center><h1>Resource</h1></center></div>
    <div class="col-sm-4" style="background-color:lavender;"><center><h1>Manager</h1></center></div>
 </div>
 </div>

 <table class="table table-bordered">
 	<tbody>
 	<th>
	

		<form action="/newapp/check_netrc/" method="post">{% csrf_token %}
		{% load staticfiles %}
		<center><img src="{% static '/ms_azure1.png' %}" class="img-responsive"></center>
			<div class="form-group">	
				<center><button type="submit" class="btn btn-success btn-lg"> Access</button></center>
			</div>
		</form>
	
	</th>
	<th>
		

		<form action="/newapp/#/" method="post">{% csrf_token %}
		{% load staticfiles %}
		<center><img src="{% static '/amezone2.png' %}" class="img-responsive"></center>
			<div class="form-group">	
				
				<center><button type="submit" class="btn btn-success btn-lg"> Access</button></center>
			</div>
		</form>
		
	</th>
	</tbody>
</table>
{% endblock %}