{% extends "bootstrap_include.html" %}

{% block content %}



<div class="container-fluid">
  <center><h1>Project Resource Management System For Cloud</h1></center>
  









<table class="table">
<tbody>
<th>
<center>
<div class="card" style="width: 20rem;">
   {% load staticfiles %}
  <img class="card-img-top" src="{% static '/ms_azure1.png' %}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</center>
</th>

<th>
<center>
<div class="card" style="width: 20rem;">
   {% load staticfiles %}
  <img class="card-img-top" src="{% static '/amezone2.png' %}" alt="Card image cap">
  <div class="card-block">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</center>
</th>





</tbody>
</table>



{% endblock %}